<html>
<head><title>Hound</title>
<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style type="text/css">
tr.OK th { background-color: #ccffcc; }
tr.Failed th { background-color: #ffcccc; }
tr.Error th { background-color: #ffddcc; }
th { vertical-align: top; white-space:nowrap;}
a.box {
   display: block;
   float: left;
   width: 10px;
   height: 10px;
   margin: 1px;
   border: 1px solid black;
}

a.OK { background-color: #0f0;}
a.Failed { background-color: #f00;}
a.Error { background-color: #f60;}

</style>
</head>
<body>

    <div class="container">

        <h1>Hound</h1>

        <div>
            <div>
                {{ range $index, $element := .Alerts }}
                <a class="box {{$element.Status}}" href="#alert-{{$element.Hash}}"></a>
                {{ end }}
                <br style="clear: both" />
            </div>
            <img width="800" height="150" src="{{.GraphiteBase}}?width=800&height=150&_salt=1399312175.381&target=keepLastValue({{.MetricBase}}errors)&target=keepLastValue({{.MetricBase}}successes)&target=keepLastValue({{.MetricBase}}failures)&from=-24hours&areaMode=stacked&bgcolor=ffffff&fgcolor=333333&colorList=ff6600,44bb44,ff0000"/><br />
            <img width="800" height="75" src="{{.GraphiteBase}}?width=800&height=75&hideGrid=true&hideLegend=true&graphOnly=false&hideAxes=false&_salt=1399312175.381&target=keepLastValue({{.MetricBase}}errors)&target=keepLastValue({{.MetricBase}}successes)&target=keepLastValue({{.MetricBase}}failures)&from=-7days&areaMode=stacked&bgcolor=eeeeee&fgcolor=333333&colorList=ff6600,44bb44,ff0000"/>
        </div>

    <div class="table-responsive">
<table class="table table-condensed table-striped">
<tr>
<th>Metric</th>
<th></th>
<th>Current Value/Threshold</th>
<th>Graphite Metric</th>
</tr>

{{ range $index, $element := .Alerts }}
<tr class="{{ $element.BootstrapStatus }}">
	<th><a id="alert-{{$element.Hash}}"></a><span class="glyphicon {{$element.GlyphIcon}}" aria-hidden="true"></span> {{ $element.Name }}</th>
	<td>
		  <a href="/alert/{{$element.Hash}}/"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
	</td>
	<td>
  {{$element.Value}} {{$element.RenderDirection}} {{$element.Threshold}}
	</td>
	<td><small>
  {{$element.Metric}}
	</small></td>
</tr>
{{ end }}
</table>
    </div><!-- end .table-responsive -->

</div><!-- end .container -->

</body>
</html>
